// Import all of Bootstrap's CSS
@use "bootstrap/scss/bootstrap" with (
  $modal-fade-transform: scale(0.8),
  $modal-backdrop-opacity: 0
);

.text img {
  max-width: 100%;
  height: auto;
  margin: 0.25rem 0;
}

